<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise API Sequelize</title>
  </head>
  <body>
    <div
      style="
        font-family: Helvetica, Arial, sans-serif;
        min-width: 1000px;
        overflow: auto;
        line-height: 2;
      "
    >
      <div style="margin: 50px auto; width: 70%; padding: 20px 0">
        <div style="border-bottom: 1px solid #eee">
          <a
            href=""
            style="
              font-size: 1.4em;
              color: #00466a;
              text-decoration: none;
              font-weight: 600;
            "
            >Exercise API Sequelize</a
          >
        </div>
        <p style="font-size: 1.1em">Hi,</p>
        <p>Thank you for choosing Your Brand. This is your transactions :</p>
        <h2
          style="
            background: #00466a;
            margin: 0 auto;
            width: max-content;
            padding: 0 10px;
            color: #fff;
            border-radius: 4px;
          "
        >
          Order ID : {{order_id}} <br />
          User : {{user}} <br />
          Food : {{food}} <br />
          Quantity : {{quantity}} <br />
          Total : {{total}} <br />
          Status : {{status}}
        </h2>
        <hr style="border: none; border-top: 1px solid #eee" />
        <div
          style="
            float: right;
            padding: 8px 0;
            color: #aaa;
            font-size: 0.8em;
            line-height: 1;
            font-weight: 300;
          "
        >
          <p style="font-size: 0.9em">Regards,<br />Gusman Wijaya, S.Kom</p>
        </div>
      </div>
    </div>
  </body>
</html>
